body {
    overflow: hidden;
    height: 200vh;
    background: linear-gradient(to bottom, #111D3B, #BBD1F0);
    margin: 0;
}


header {
    background-color: #031237;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.botao1 {
    margin-top: 2vh;
    cursor: pointer;
    color: #fff;
    border-radius: 1px;
    border-color: #BBD1F0;
    background-color: #111D3B;
    transition: background-color 0.3s ease;
    padding: 2vh 4vh;
    font-size: 2vh;
    border-radius: 10px;




}

#inicio {
    cursor: pointer;
}

.botao2 {
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    border-color: #BBD1F0;
    background-color: #111D3B;
    transition: background-color 0.3s ease;



}

.botao1:hover {
    background-color: #1a2b52;

}

.botao2:hover {
    background-color: #1a2b52;

}

input {
    background-color: #fff;
    border-radius: 58px;
    border-color: #111D3B;
    color: #031237;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    padding: 2vh;
    margin-bottom: 2vh;
}


h2 {
    text-align: center;
    font-size: 4vh;
    color: #BBD1F0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#loginForm {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2vh;

}

#formulario {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2vh;

}

.perfil {
    color: #BBD1F0;
    margin-bottom: 2vh;
}

.right-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 2vh;
}

.cart-icon {
    width: 35px;
    height: 35px;
    cursor: pointer;
    color: #BBD1F0;
    transition: background-color 0.3s ease;
}

.cart-icon:hover {
    color: #4b9cd6;

}

.ecobag {
    width: 35px;
    height: 35px;
    cursor: pointer;
    color: #BBD1F0;
    transition: background-color 0.3s ease;
}

.ecobag:hover {
    color: #4b9cd6;
}

h1 {
    color: #BBD1F0;
}

label {
    color: #BBD1F0;
}

.perfil2 {
    color: #BBD1F0;
}

#informacoes {
    color: #BBD1F0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.a5 {
    border-radius: 2px;
    background-color: transparent;
    border-color: #BBD1F0;
    height: 5.7vh;
    width: 10vh;
    color: #BBD1F0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.2vh;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.a5:hover {
    border-color: #4b9cd6;
    color: #4b9cd6;
}

.sairr {
    color: #BBD1F0;
}