body{
    background-color: #111D3B;
    margin: 0;
}

header{
    background-color: #031237;
    background-size: cover;
    height: 14vh;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#inicio{
    cursor: pointer;
}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 2vh; 
    width: 100%; 
}

#carrinho-itens {
    display: flex; 
    flex-wrap: wrap;
    justify-content: flex-start; 
    gap: 2vh; 
    padding: 2vh;
    width: 100%; 
}

.item-carrinho {
    color: #031237;
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: #BBD1F0;
    padding: 2vh;
    margin: 1vh;
    border-radius: 10px;
    min-width: 200px;
    max-width: 200px; 
    text-align: center;
    flex: 1 1 200px; 
}

.removerBotao {
    margin-top: 2vh;
    cursor: pointer;
    color: white;
    border-radius: 1px;
    border-color: white;
    background-color: red;
    transition: background-color 0.3s ease;
    padding: 2vh 4vh;
    font-size: 2vh;
    border-radius: 10px;
}

.removerBotao:hover {
    background-color: rgb(171, 0, 0);
}

.total-carrinho{
    color: #BBD1F0;
}

.quantidade{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 5vh;
    overflow: hidden;
}

.quantidade-input{
    width: 5vh;
    height: 10vh;
    text-align: center;
    border-color: #111D3B;
    outline: none;
    font-size: 2vh;
    color: #111D3B;
}

.quantidadeMenos{
    background-color: #111D3B;
    border-color: #031237;
    padding: 0 2vh;
    cursor: pointer;
    font-size: 3vh ;
    height: 100%;
    color: #BBD1F0;
}

.quantidadeMais{
    background-color: #111D3B;
    border-color: #111D3B;
    padding: 0 2vh;
    cursor: pointer;
    font-size: 3vh ;
    height: 100%;
    color: #BBD1F0;
}

.quantidadeMais:hover{
    background-color: #07215e;
}

.quantidadeMenos:hover{
    background-color: #07215e;
}

.totalCarrinho{
    color: #BBD1F0;
}

