body{
    background-color: #111D3B;
    margin: 0;
}

header{
    background-color: #031237;
    background-size: cover;
    height: 14vh;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#inicio{
    cursor: pointer;
}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 2vh; 
    width: 100%; 
}

.carrinho-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #b0c8ed;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}

.carrinho-item img{
    width: 80px; 
    height: auto;
    margin-right: 20px;
}

.carrinho-item p{
    margin: 0 10px;
    font-size: 14px;
}

.carrinho-item input{
    width: 40px;
    text-align: center;
}

.carrinho-item button{
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.carrinho-item button:hover{
    background-color: #ff3333;
}

h1{
    text-align: center;
}

.embaixo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BBD1F0;
    padding: 10vh;
    border-radius: 2vh;
    margin-top: 20px;
    width: 100%;
    margin-left: 70vh;
    margin-right: 70vh;
}
