body {
    background-color: #111D3B;
    margin: 0;
}

header {
    background-color: #031237;
    background-size: cover;
    height: 14vh;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

footer {
    color: #BBD1F0;
    background-color: #031237;
    height: 40vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    display: flex;
    gap: 20vh;
    justify-content: center;


}

#inicio {
    cursor: pointer;
}


.cart-icon:hover {
    color: #4b9cd6;

}

.fraseMain {
    color: #BBD1F0;
    text-align: center;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    gap: 15px;
}

.produtosSeparados {
    text-align: center;
    flex: 1 1 200px;
    margin: 10px;
}

.produtosSeparados img {
    width: 100%;
    height: auto;
    display: flex;
    border-radius: 10px;
    cursor: pointer;
}

.descricao {
    color: #111D3B;
}

.star {
    color: #111D3B;
}

.precos {
    color: #111D3B;
    text-align: center;
}

.adicionarCarrinho {
    color: black;
    background-color: #BBD1F0;
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.container {
    background-color: #BBD1F0;
    border-radius: 10px;
    width: 30vh;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 1vh;
}

.container:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container2 {
    background-color: #BBD1F0;
    width: 150vh;
    border-radius: 10px;
    height: auto;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    margin-top: 10vh;
    display: flex;
    padding: 20px;
}

.imagemPagina2 {
    border-radius: 10px;
    width: 50vh;
    height: auto;
    flex-shrink: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.buttons {
    justify-content: space-between;
}

.buttonComprar {
    background-color: #1c8fc4;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    width: 19vh;
    height: 7vh;
    font-size: 2vh;
    border-color: #111D3B;
    display: block;
    margin-top: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.buttonComprar:hover {
    background-color: #155a8a;
    color: #BBD1F0;


}

.button {
    background-color: #031237;
    color: #b0c8ed;
    border-radius: 10px;
    cursor: pointer;
    width: 19vh;
    height: 7vh;
    font-size: 2vh;
    border-color: #111D3B;
    display: block;
    margin-top: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #155a8a;
}

.ofertaContainer {
    background-color: #111D3B;
    color: white;
    border-radius: 10px;
    width: 60vh;
    display: block;
    align-items: center;
    text-align: center;
    height: auto;
    font-weight: bold;
}

.tituloPagina2 {
    color: #031237;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.texto1Pagina2 {
    color: #031237;
    margin-top: 0;


}

.texto2Pagina2 {
    color: #031237;


}

.precoPagina2 {
    color: #111D3B;
    font-size: 7vh;
}


.right-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 2vh;
}

.cart-icon {
    width: 35px;
    height: 35px;
    cursor: pointer;
    color: #BBD1F0;
    transition: background-color 0.3s ease;
}

#a1 {
    text-decoration: none;
    border: 2px solid #BBD1F0;
    background-color: transparent;
    padding: 10px;
    color: #BBD1F0;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

#a2 {

    text-decoration: none;
    border: 2px solid #BBD1F0;
    background-color: transparent;
    padding: 10px;
    margin: 10px;
    color: #BBD1F0;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;

}



#a1:hover {
    border-color: #4b9cd6;
    color: #4b9cd6;

}


#a2:hover {
    border-color: #4b9cd6;
    color: #4b9cd6;

}

.ecobag {
    width: 35px;
    height: 35px;
    cursor: pointer;
    color: #BBD1F0;
    transition: background-color 0.3s ease;
}

.ecobag:hover {
    color: #4b9cd6;
}

h1 {
    color: #BBD1F0;
}

label {
    color: #BBD1F0;
}

#informacoes {
    color: #BBD1F0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.perfil {
    color: #BBD1F0;
}


.a5 {
    border-radius: 2px;
    background-color: transparent;
    border-color: #BBD1F0;
    height: 5.7vh;
    width: 10vh;
    color: #BBD1F0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.2vh;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.a5:hover {
    border-color: #4b9cd6;
    color: #4b9cd6;
}


/* ------------------------------------------------------------ */
.card_produto {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 2vh;
    row-gap: 4vh;
    justify-items: center;
    margin-left: 4vh;
    margin-right: 4vh;
    padding-bottom: 10vh;
    margin-top: 6vh;
    color: #111D3B;
    font-weight: bold;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #b0c8ed;
    padding: 1.5vh;
    width: 27vh;
    height: 45vh;
    border-radius: 1vh;
    transition: transform 0.3s ease;
    font-size: 2.5vh;
}

.cards:hover {
    transform: scale(1.05);
}

.cards img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.product-price {
    font-size: 4vh;
    font-weight: bold;
    margin-bottom: auto;
}

.formularioEdicao {
    background-color: #b0c8ed;
    margin-top: 8vh;
    align-items: center;
    border-radius: 5vh;
    border: 1px #BBD1F0;
}


.edicaoFormulario{
    background-color: #031237;
    color: #b0c8ed;
    width: 10vh;
    border-radius: 5px;
    border-color: #BBD1F0;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.edicaoFormulario:hover{
    background-color: rgb(23, 42, 119);
    border-color: #1c8fc4;
}

/* Estilo do pop-up (oculto por padrão) */
.popup{
    display: none; /* Oculto inicialmente */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo transparente */
    justify-content: center;
    align-items: center;
 
}

.popUpConteudo{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Botão de fechar */
.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}
